In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import plotly.express as px
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv('/home/ziyad/Desktop/Datasets/Tree Survival Prediction/Tree_Data.csv')

In [6]:
df.head()

,No,Plot,Subplot,Species,Light_ISF,Light_Cat,Core,Soil,Adult,Sterile,...,AMF,EMF,Phenolics,Lignin,NSC,Census,Time,Event,Harvest,Alive
0,126,1,C,Acer saccharum,0.106,Med,2017,Prunus serotina,I,Non-Sterile,...,22.00,NaN,-0.56,13.86,12.15,4,14.0,1.0,NaN,NaN
1,11,1,C,Quercus alba,0.106,Med,2017,Quercus rubra,970,Non-Sterile,...,15.82,31.07,5.19,20.52,19.29,33,115.5,0.0,NaN,X
2,12,1,C,Quercus rubra,0.106,Med,2017,Prunus serotina,J,Non-Sterile,...,24.45,28.19,3.36,24.74,15.01,18,63.0,1.0,NaN,NaN
3,2823,7,D,Acer saccharum,0.080,Med,2016,Prunus serotina,J,Non-Sterile,...,22.23,NaN,-0.71,14.29,12.36,4,14.0,1.0,NaN,NaN
4,5679,14,A,Acer saccharum,0.060,Low,2017,Prunus serotina,689,Non-Sterile,...,21.15,NaN,-0.58,10.85,11.20,4,14.0,1.0,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2783 entries, 0 to 2782
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   No           2783 non-null   int64
 1   Plot         2783 non-null   int64
 2   Subplot      2783 non-null   object
 3   Species      2783 non-null   object
 4   Light_ISF    2783 non-null   float64
 5   Light_Cat    2783 non-null   object
 6   Core         2783 non-null   int64
 7   Soil         2783 non-null   object
 8   Adult        2783 non-null   object
 9   Sterile      2783 non-null   object
 10  Conspecific  2783 non-null   object
 11  Myco         2783 non-null   object
 12  SoilMyco     2783 non-null   object
 13  PlantDate    2783 non-null   object
 14  AMF          2783 non-null   float64
 15  EMF          1283 non-null   float64
 16  Phenolics    2783 non-null   float64
 17  Lignin       2783 non-null   float64
 18  NSC          2783 non-null   float64
 19  Census       2783 non-null   int64
 20  Time         2783 non-null   float64
 21  Event        2782 non-null   float64
 22  Harvest      704 non-null    object
 23  Alive        491 non-null    object
dtypes: float64(8), int64(4), object(12)
memory usage: 521.9+ KB

In [6]:
print('-------------Columns and Data Types-------------')
for column in df.columns:
    print(f'{column}: {df[column].dtype}')

-------------Columns and Data Types-------------
No: int64
Plot: int64
Subplot: object
Species: object
Light_ISF: float64
Light_Cat: object
Core: int64
Soil: object
Adult: object
Sterile: object
Conspecific: object
Myco: object
SoilMyco: object
PlantDate: object
AMF: float64
EMF: float64
Phenolics: float64
Lignin: float64
NSC: float64
Census: int64
Time: float64
Event: float64
Harvest: object
Alive: object

In [5]:
df.isnull().sum()

No                0
Plot              0
Subplot           0
Species           0
Light_ISF         0
Light_Cat         0
Core              0
Soil              0
Adult             0
Sterile           0
Conspecific       0
Myco              0
SoilMyco          0
PlantDate         0
AMF               0
EMF            1500
Phenolics         0
Lignin            0
NSC               0
Census            0
Time              0
Event             1
Harvest        2079
Alive          2292
dtype: int64

Check to see for categorical data.

In [18]:
# Identify categorical columns
categorical_columns = df.select_dtypes(include=['category', 'object']).columns

# Perform chi-square test for each categorical column
for column in categorical_columns:
    contingency_table = pd.crosstab(df[column], df['Sterile'])
    chi2, p, _, _ = chi2_contingency(contingency_table)
    
    print(f"\nChi-square test for {column}:")
    print(f"Chi2 value: {chi2}")
    print(f"P-value: {p}")

    # Check for significance (you may choose your significance level, e.g., 0.05)
    if p < 0.05:
        print("The groups are statistically significant.")
    else:
        print("The groups are not statistically significant.")

Chi-square test for Subplot:
Chi2 value: 2.7221971923551402
P-value: 0.605336014898842
The groups are not statistically significant.

Chi-square test for Species:
Chi2 value: 3.496670240897452
P-value: 0.32119423624492116
The groups are not statistically significant.

Chi-square test for Light_Cat:
Chi2 value: 0.41563099076693755
P-value: 0.8123569064851989
The groups are not statistically significant.

Chi-square test for Soil:
Chi2 value: 2783.0
P-value: 0.0
The groups are statistically significant.

Chi-square test for Adult:
Chi2 value: 191.73758893670617
P-value: 1.624275197838986e-23
The groups are statistically significant.

Chi-square test for Sterile:
Chi2 value: 2775.246973724918
P-value: 0.0
The groups are statistically significant.

Chi-square test for Conspecific:
Chi2 value: 2783.0
P-value: 0.0
The groups are statistically significant.

Chi-square test for Myco:
Chi2 value: 3.051287512550038
P-value: 0.0806731654540942
The groups are not statistically significant.

Chi-square test for SoilMyco:
Chi2 value: 2783.0
P-value: 0.0
The groups are statistically significant.

Chi-square test for PlantDate:
Chi2 value: 1745.4838693809666
P-value: 0.0
The groups are statistically significant.

Chi-square test for Harvest:
Chi2 value: 0.0
P-value: 1.0
The groups are not statistically significant.

Chi-square test for Alive:
Chi2 value: 0.0
P-value: 1.0
The groups are not statistically significant.

'''print('-------------Selected Columns, Data Types, and Contents-------------')
selected_columns = ["EMF", "Harvest", "Alive", "Adult", "PlantDate"]

for column in selected_columns:
    if column in df.columns:
        print(f'\n{column}: {df[column].dtype}')
        print(df[column])
    else:
        print(f'\n{column}: Column not found in the DataFrame')
'''

In [5]:
# Check for missing values
missing_vals = df.isnull().sum()

# Print columns with missing values and counts
for col, vals in missing_vals.items():
    if vals > 0:
        print(f"{col} has {vals} missing values")

EMF has 1500 missing values
Event has 1 missing values
Harvest has 2079 missing values
Alive has 2292 missing values

For analysis "Event" is important. So need to drop the NAN values

In [8]:
df.shape

(2783, 24)

In [9]:
df.dropna(subset=['Event'], inplace=True)
df.shape

(2782, 24)