In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import plotly.express as px
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
from sklearn.preprocessing import OneHotEncoder 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, classification_report,ConfusionMatrixDisplay
from sklearn.feature_selection import SelectKBest
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [2]:
df = pd.read_csv('/home/ziyad/Desktop/Datasets/Tree Survival Prediction/Tree_Data.csv')

In [3]:
df.head()

,No,Plot,Subplot,Species,Light_ISF,Light_Cat,Core,Soil,Adult,Sterile,...,AMF,EMF,Phenolics,Lignin,NSC,Census,Time,Event,Harvest,Alive
0,126,1,C,Acer saccharum,0.106,Med,2017,Prunus serotina,I,Non-Sterile,...,22.00,NaN,-0.56,13.86,12.15,4,14.0,1.0,NaN,NaN
1,11,1,C,Quercus alba,0.106,Med,2017,Quercus rubra,970,Non-Sterile,...,15.82,31.07,5.19,20.52,19.29,33,115.5,0.0,NaN,X
2,12,1,C,Quercus rubra,0.106,Med,2017,Prunus serotina,J,Non-Sterile,...,24.45,28.19,3.36,24.74,15.01,18,63.0,1.0,NaN,NaN
3,2823,7,D,Acer saccharum,0.080,Med,2016,Prunus serotina,J,Non-Sterile,...,22.23,NaN,-0.71,14.29,12.36,4,14.0,1.0,NaN,NaN
4,5679,14,A,Acer saccharum,0.060,Low,2017,Prunus serotina,689,Non-Sterile,...,21.15,NaN,-0.58,10.85,11.20,4,14.0,1.0,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2783 entries, 0 to 2782
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   No           2783 non-null   int64
 1   Plot         2783 non-null   int64
 2   Subplot      2783 non-null   object
 3   Species      2783 non-null   object
 4   Light_ISF    2783 non-null   float64
 5   Light_Cat    2783 non-null   object
 6   Core         2783 non-null   int64
 7   Soil         2783 non-null   object
 8   Adult        2783 non-null   object
 9   Sterile      2783 non-null   object
 10  Conspecific  2783 non-null   object
 11  Myco         2783 non-null   object
 12  SoilMyco     2783 non-null   object
 13  PlantDate    2783 non-null   object
 14  AMF          2783 non-null   float64
 15  EMF          1283 non-null   float64
 16  Phenolics    2783 non-null   float64
 17  Lignin       2783 non-null   float64
 18  NSC          2783 non-null   float64
 19  Census       2783 non-null   int64
 20  Time         2783 non-null   float64
 21  Event        2782 non-null   float64
 22  Harvest      704 non-null    object
 23  Alive        491 non-null    object
dtypes: float64(8), int64(4), object(12)
memory usage: 521.9+ KB

In [5]:
print('-------------Columns and Data Types-------------')
for column in df.columns:
    print(f'{column}: {df[column].dtype}')

-------------Columns and Data Types-------------
No: int64
Plot: int64
Subplot: object
Species: object
Light_ISF: float64
Light_Cat: object
Core: int64
Soil: object
Adult: object
Sterile: object
Conspecific: object
Myco: object
SoilMyco: object
PlantDate: object
AMF: float64
EMF: float64
Phenolics: float64
Lignin: float64
NSC: float64
Census: int64
Time: float64
Event: float64
Harvest: object
Alive: object

In [6]:
df.isnull().sum()

No                0
Plot              0
Subplot           0
Species           0
Light_ISF         0
Light_Cat         0
Core              0
Soil              0
Adult             0
Sterile           0
Conspecific       0
Myco              0
SoilMyco          0
PlantDate         0
AMF               0
EMF            1500
Phenolics         0
Lignin            0
NSC               0
Census            0
Time              0
Event             1
Harvest        2079
Alive          2292
dtype: int64

Check to see for categorical data.

In [7]:
# Identify categorical columns
categorical_columns = df.select_dtypes(include=['category', 'object']).columns

# Perform chi-square test for each categorical column
for column in categorical_columns:
    contingency_table = pd.crosstab(df[column], df['Sterile'])
    chi2, p, _, _ = chi2_contingency(contingency_table)
    
    print(f"\nChi-square test for {column}:")
    print(f"Chi2 value: {chi2}")
    print(f"P-value: {p}")

    # Check for significance (you may choose your significance level, e.g., 0.05)
    if p < 0.05:
        print("The groups are statistically significant.")
    else:
        print("The groups are not statistically significant.")

Chi-square test for Subplot:
Chi2 value: 2.7221971923551402
P-value: 0.605336014898842
The groups are not statistically significant.

Chi-square test for Species:
Chi2 value: 3.496670240897452
P-value: 0.32119423624492116
The groups are not statistically significant.

Chi-square test for Light_Cat:
Chi2 value: 0.41563099076693755
P-value: 0.8123569064851989
The groups are not statistically significant.

Chi-square test for Soil:
Chi2 value: 2783.0
P-value: 0.0
The groups are statistically significant.

Chi-square test for Adult:
Chi2 value: 191.73758893670617
P-value: 1.624275197838986e-23
The groups are statistically significant.

Chi-square test for Sterile:
Chi2 value: 2775.246973724918
P-value: 0.0
The groups are statistically significant.

Chi-square test for Conspecific:
Chi2 value: 2783.0
P-value: 0.0
The groups are statistically significant.

Chi-square test for Myco:
Chi2 value: 3.051287512550038
P-value: 0.0806731654540942
The groups are not statistically significant.

Chi-square test for SoilMyco:
Chi2 value: 2783.0
P-value: 0.0
The groups are statistically significant.

Chi-square test for PlantDate:
Chi2 value: 1745.4838693809666
P-value: 0.0
The groups are statistically significant.

Chi-square test for Harvest:
Chi2 value: 0.0
P-value: 1.0
The groups are not statistically significant.

Chi-square test for Alive:
Chi2 value: 0.0
P-value: 1.0
The groups are not statistically significant.

In [8]:
# Check for missing values
missing_vals = df.isnull().sum()

# Print columns with missing values and counts
for col, vals in missing_vals.items():
    if vals > 0:
        print(f"{col} has {vals} missing values")

EMF has 1500 missing values
Event has 1 missing values
Harvest has 2079 missing values
Alive has 2292 missing values

For analysis "Event" is important. So need to drop the NAN values

In [9]:
df.shape

(2783, 24)

In [10]:
df.dropna(subset=['Event'], inplace=True)
df.shape

(2782, 24)

In [11]:
df.describe()

,No,Plot,Light_ISF,Core,AMF,EMF,Phenolics,Lignin,NSC,Census,Time,Event
count,2782.000000,2782.000000,2782.000000,2782.000000,2782.000000,1282.000000,2782.000000,2782.000000,2782.000000,2782.000000,2782.000000,2782.000000
mean,3913.127606,9.558591,0.085680,2016.648814,20.554349,26.479844,1.932261,15.758490,14.217074,15.275701,53.464953,0.570453
std,2252.733097,5.202133,0.025603,0.477427,12.311615,16.643013,1.969693,6.780478,4.296910,9.162042,32.067148,0.495100
min,3.000000,1.000000,0.032000,2016.000000,0.000000,0.000000,-1.350000,2.230000,4.300000,4.000000,14.000000,0.000000
25%,1970.500000,5.000000,0.066000,2016.000000,13.400000,13.780000,0.170000,10.352500,11.602500,7.000000,24.500000,0.000000
50%,3931.500000,10.000000,0.082000,2017.000000,18.000000,27.730000,0.750000,14.040000,12.655000,13.000000,45.500000,1.000000
75%,5877.750000,14.000000,0.100000,2017.000000,24.447500,35.710000,3.780000,21.117500,17.270000,18.000000,63.000000,1.000000
max,7772.000000,18.000000,0.161000,2017.000000,100.000000,87.500000,6.100000,32.770000,29.450000,33.000000,115.500000,1.000000

In [12]:
print(df['Alive'].value_counts())

Alive
X    491
Name: count, dtype: int64

In [13]:
print(df['Harvest'].value_counts())

Harvest
X    704
Name: count, dtype: int64

Based on some research, the following columns are the onees that seem crucial in predicting the target variable.

1. Species
2. Soil 
3. Light_Cat
4. Sterile
5. Event

In [14]:
print(df['Species'].value_counts())

Species
Acer saccharum     751
Prunus serotina    749
Quercus alba       672
Quercus rubra      610
Name: count, dtype: int64

In [15]:
print(df['Soil'].value_counts())

Soil
Sterile                  422
Prunus serotina          413
Quercus rubra            402
Acer saccharum           397
Populus grandidentata    391
Quercus alba             381
Acer rubrum              376
Name: count, dtype: int64

In [16]:
print(df['Light_Cat'].value_counts())

Light_Cat
Med     1474
Low     1005
High     303
Name: count, dtype: int64

In [17]:
print(df['Sterile'].value_counts())

Sterile
Non-Sterile    2360
Sterile         422
Name: count, dtype: int64

In [39]:
print(df['Event'].value_counts())

Event
1.0    1587
0.0    1195
Name: count, dtype: int64

Performing One hot encoding for the categorical data

In [49]:
def encode_one_hot(df, categorical_columns):
    # One hot encoding
    encoder = OneHotEncoder()
    encoded_data = encoder.fit_transform(df[categorical_columns]).toarray()

    # Create column names
    encoded_columns = []
    for i, category in enumerate(encoder.categories_):
        encoded_columns.extend([f"{categorical_columns[i]}_{cat}" for cat in category])

    encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)


    return encoded_df

In [51]:
control_df = df[['Species', 'Soil', 'Sterile', 'Light_Cat']]
categorical_columns_to_encode = ['Species', 'Soil', 'Sterile', 'Light_Cat']
encoded_df = encode_one_hot(df=control_df, categorical_columns=categorical_columns_to_encode)

encoded_df['Event'] = df['Event'].values
encoded_df.head()

,Species_Acer saccharum,Species_Prunus serotina,Species_Quercus alba,Species_Quercus rubra,Soil_Acer rubrum,Soil_Acer saccharum,Soil_Populus grandidentata,Soil_Prunus serotina,Soil_Quercus alba,Soil_Quercus rubra,Soil_Sterile,Sterile_Non-Sterile,Sterile_Sterile,Light_Cat_High,Light_Cat_Low,Light_Cat_Med,Event
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0

Creating a model and running it.

In [59]:
y = encoded_df['Event']
X = encoded_df.drop('Event', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
model = LogisticRegression()

In [61]:
model.fit(X_train, y_train)

LogisticRegression()

In [62]:
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.76      0.85      0.80       234
         1.0       0.88      0.80      0.84       323

    accuracy                           0.82       557
   macro avg       0.82      0.83      0.82       557
weighted avg       0.83      0.82      0.83       557

In [63]:
print(confusion_matrix(y_test, y_pred))

[[200  34]
 [ 64 259]]

Lets test this model out.

In [64]:
columns = X_test.columns
print(columns)

Index(['Species_Acer saccharum', 'Species_Prunus serotina',
       'Species_Quercus alba', 'Species_Quercus rubra', 'Soil_Acer rubrum',
       'Soil_Acer saccharum', 'Soil_Populus grandidentata',
       'Soil_Prunus serotina', 'Soil_Quercus alba', 'Soil_Quercus rubra',
       'Soil_Sterile', 'Sterile_Non-Sterile', 'Sterile_Sterile',
       'Light_Cat_High', 'Light_Cat_Low', 'Light_Cat_Med'],
      dtype='object')

In [65]:
test_df = pd.DataFrame([[0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0]], 
                       index=[0], columns=columns)

test_df.head(3)

,Species_Acer saccharum,Species_Prunus serotina,Species_Quercus alba,Species_Quercus rubra,Soil_Acer rubrum,Soil_Acer saccharum,Soil_Populus grandidentata,Soil_Prunus serotina,Soil_Quercus alba,Soil_Quercus rubra,Soil_Sterile,Sterile_Non-Sterile,Sterile_Sterile,Light_Cat_High,Light_Cat_Low,Light_Cat_Med
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [66]:
model.predict(test_df)

array([0.])

In [67]:
def generate_realistic_tests(columns, num_tests=25):
    # Create a DataFrame with random values for testing
    test_data = np.random.choice([0, 1], size=(num_tests, len(columns)), replace=True)
    test_df = pd.DataFrame(test_data, columns=columns)

    return test_df

def predict_and_format(model, test_df):
    # Make predictions using the provided model
    predictions = model.predict(test_df)

    # Create a DataFrame to display the results
    result_df = pd.DataFrame({'Survival Prediction': predictions})
    
    # Concatenate the test DataFrame and the results DataFrame for better presentation
    presentation_df = pd.concat([test_df, result_df], axis=1)

    return presentation_df

In [73]:
num_tests = 25

# Generate 25 realistic tests
test_df = generate_realistic_tests(columns, num_tests=num_tests)

# Make predictions and format the output
result_df = predict_and_format(model, test_df)

result_df.head(num_tests)

,Species_Acer saccharum,Species_Prunus serotina,Species_Quercus alba,Species_Quercus rubra,Soil_Acer rubrum,Soil_Acer saccharum,Soil_Populus grandidentata,Soil_Prunus serotina,Soil_Quercus alba,Soil_Quercus rubra,Soil_Sterile,Sterile_Non-Sterile,Sterile_Sterile,Light_Cat_High,Light_Cat_Low,Light_Cat_Med,Survival Prediction
0,1,1,1,0,0,1,0,0,1,0,1,0,1,1,1,1,1.0
1,0,1,1,0,1,1,0,0,1,0,1,0,0,0,1,0,0.0
2,1,0,1,0,1,1,1,0,1,0,1,1,0,0,1,0,1.0
3,0,1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,0.0
4,1,0,0,1,0,0,1,1,0,0,0,0,0,1,0,0,1.0
5,1,1,1,1,1,0,1,1,0,0,1,0,0,1,1,1,0.0
6,1,0,0,0,1,1,1,0,0,1,0,0,0,0,0,1,1.0
7,1,0,1,1,0,0,0,0,0,1,1,1,0,1,1,0,0.0
8,0,1,1,1,0,1,0,1,0,1,0,1,1,0,1,1,0.0
9,1,0,1,0,1,0,0,0,0,1,0,1,0,0,1,0,1.0
10,0,0,1,1,1,1,1,1,1,0,1,1,1,1,1,1,0.0
11,0,0,1,1,0,1,1,1,0,1,1,0,0,1,1,0,0.0
12,1,1,1,0,0,1,1,0,0,0,0,1,0,1,1,0,1.0
13,0,1,0,0,1,1,1,0,0,0,1,0,0,1,1,1,1.0
14,0,1,1,1,1,1,1,1,1,0,1,1,0,1,1,0,0.0
15,0,1,1,0,1,0,1,1,0,1,0,0,0,1,0,1,0.0
16,0,0,0,1,0,0,1,0,0,1,1,1,0,0,1,1,0.0
17,1,1,0,0,1,1,0,1,1,1,0,0,1,1,0,1,1.0
18,1,1,1,1,0,1,0,0,1,1,0,0,1,0,1,1,1.0
19,1,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1,1.0
20,1,1,1,0,1,1,0,1,1,1,1,1,1,0,0,0,1.0
21,0,1,0,1,1,0,0,0,1,0,0,0,1,1,1,0,0.0
22,1,1,0,1,0,0,1,1,1,1,0,0,1,1,0,1,1.0
23,0,1,1,0,0,0,1,0,1,1,0,0,1,0,0,1,1.0
24,0,0,1,1,1,0,1,1,0,1,1,0,0,0,1,0,0.0

Tree Sterility Prediction using classification.

In [48]:
print(df['Adult'])

0          I
1        970
2          J
3          J
4        689
        ...
2777    1595
2778     891
2779    1468
2780    1454
2782     118
Name: Adult, Length: 2782, dtype: object